.container-jobs{
    display: flex;
    margin-bottom: 100px;
    width: 70%;
    /* background-color:blueviolet; */
    margin-left: auto;
    margin-right: auto;
}

.job{
    font-size: large;
    color: aliceblue;
    border: 1px solid white;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    padding: 2vw;
    /* background-color: red; */
    /* margin-left: 10px; */
    width: 30%;
}

